body{
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #080808;
    color: #fff;
}

/* Gobal */
.container {
    margin: auto;
    overflow: hidden;
}

.highlight {
    color: #FB8C00;
}

.big-boi {
    background:url('../img/mountains.jpg') no-repeat 0 -500px;
    background-size: cover;
    background-position: center bottom;
}

/* Header */
header {
    padding: 0 40px 0 40px;
    background-color: rgba(0, 000, 0, 0.6)
}

header .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 16px;
}

#icon {
    max-width: 64px;
    max-height: 64px;
    grid-column: 2;
    margin-top: 30px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    grid-column: 3 / 5;
}

header nav {
    grid-column: 6 / 7;
    margin-top: 30px;
}

header li {
    display: inline;
    padding: 0 16px 0 16px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header .current a {
    color: #FB8C00;
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 100vh;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #FB8C00;
}

#showcase .container {
    padding-top: 25vh;
}

#showcase h1 {
    font-size: 100px;
}

#showcase p {
    font-size: 36px;
}

/* Call-To-Action */
#call-to-action {
    height: 600px;
}

#call-to-action img {
    width: 50%;
    float: left;
    border-right: 2px solid #FB8C00;
}

#call-to-action .container {
    float: right;
    width: 49%;
    text-align: center;
    margin-top: 150px;
}

#call-to-action .container-inner {
    padding: 20px 20px 40px;
    border: 2px solid #FB8C00;
    width: 50%;
    margin: auto;
}

#call-to-action h1 {
    font-size: 36px;
}

#call-to-action p {
    font-size: 20px;
}

#call-to-action a {
    appearance: button;
    background-color: #FB8C00;
    color: #000;
    border: none;
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
