html {
    height: 100%;
}

body {
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #080808;
    color: #fff;
    height: 100%;
}

#sign-up {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px 60px 40px;
    border: 2px solid #FB8C00;
    border-radius: 20px;
    text-align: center;
}

.highlight {
    color: #FB8C00;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

form {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
}

input {
    background-color: #080808;
    border: none;
    border-bottom: 2px solid #FB8C00;
}

input[type=submit] {
    appearance: button;
    background-color: #FB8C00;
    color: black;
}

input[type=radio] {
    background-color: #080808;
}

#fnp {
    grid-column: 1;
}

#fn {
    grid-column: 4 / 6;
}

#lnp {
    grid-row: 2;
}